/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /* Change favorite color */
  --hue-color: 230;

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-dark: hsl(var(--hue-color), 28%, 12%);
  --first-color-darker: hsl(var(--hue-color), 30%, 8%);
  --color-white: #fff;
  --color-red: hsl(0, 69%, 61%);
  --color-grey: hsl(var(--hue-color), 8%, 45%);
  --color-grey-lighter: hsl(var(--hue-color), 8%, 65%);

  --title-color: var(--first-color-darker);
  --text-color: var(--color-grey);
  --text-color-light: var(--color-grey-lighter);
  --body-color: var(--color-white-darker);

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margins Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  /* HSL color mode */
  --title-color: var(--color-white);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --body-color: var(--first-color-dark);

  --first-color-darker-alpha: 255, 255, 255;
}

/*========== Button Dark/Light ==========*/
.nav__icons {
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: var(--mb-1);
  transition: 0.5s;
  cursor: pointer;
}

.nav__icons:hover {
  color: var(--first-color);
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  font-weight: var(--font-medium);
  font-family: var(--body-font);
  border: 0;
  cursor: pointer;
}

main {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
}

table,
th,
td {
  border: 1px solid rgba(var(--first-color-darker-alpha), 0.15);
  border-collapse: collapse;
}

/*==================== LAYOUT ====================*/
.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*==================== NAV ====================*/

.nav {
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 4px -1px 4px rgba(0, 0, 0, 0.15);
}

.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.nav__logo {
  font-size: var(--h2-font-size);
  padding: 1rem;
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.2rem;
}

/*==================== BUTTONS ====================*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button__icon {
  font-size: 1.25rem;
  margin-left: var(--mb-0-5);
  transition: 0.3s;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

/*==================== CONTENT ====================*/
.hangman__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;

  height: 100vh;
}

.score__container {
  align-self: end;
  margin-right: 100px;
}

.top__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 0 20px;
}

.buttons__container {
  display: flex;
  gap: 10px;
}

.title__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
}

.gallows__container {
  width: 80%;
  height: 400px;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  padding: 40px 80px;

  border: 2px dashed var(--title-color);

  position: relative;
}

#lives {
  position: absolute;
  top: 30px;
  right: 30px;

  color: var(--first-color);
}

.gallows__parts {
  border: 2px solid var(--title-color);
  width: 100%;
}

.gallows__parts.one {
  height: 100%;
  width: 0;
  left: 0;
}

.gallows__parts.three {
  position: absolute;
  top: 10%;
  left: 80px;
  width: 35%;
}

.gallows__parts.four {
  position: absolute;
  height: 50px;
  width: 0;

  top: 0;
  right: -1%;
}

.dummy__container {
  position: absolute;
  top: 50px;
  right: 25px;
}

.dummy__parts {
  border: 1px solid var(--title-color);
}

.dummy__parts.head {
  width: 50px;
  height: 50px;

  border: 2px solid var(--title-color);
  border-radius: 50%;

  position: absolute;
}

.dummy__parts.body {
  height: 80px;
  width: 0;

  position: absolute;

  right: 50%;
  top: 100%;
}

.dummy__parts.left__arm {
  height: 40px;
  width: 0;

  position: absolute;

  transform: rotate(45deg);

  right: 13px;
  top: 20%;
}

.dummy__parts.right__arm {
  height: 40px;
  width: 0;

  position: absolute;

  transform: rotate(-45deg);

  right: -15px;
  top: 20%;
}

.dummy__parts.left__leg {
  height: 40px;
  width: 0;

  position: absolute;

  transform: rotate(45deg);

  right: 13px;
  top: 92%;
}

.dummy__parts.right__leg {
  height: 40px;
  width: 0;

  position: absolute;

  transform: rotate(-45deg);

  right: -15px;
  top: 92%;
}

.dummy__parts {
  display: none;
}

.word__container,
.wrong__letters {
  display: flex;
  gap: 20px;

  margin-bottom: 20px;
}

.letter {
  border-bottom: 2px solid var(--title-color);
}

.wrong__letter {
  color: var(--color-red);
  text-decoration: line-through;
}

/*==================== MEDIA QUERIES ====================*/

@media screen and (max-width: 450px) {
  .gallows__container {
    padding: 20px 40px;
  }

  #lives {
    top: 10px;
    right: 10px;
  }

  .gallows__parts.three {
    position: absolute;
    top: 5%;
    left: 40px;
    width: 35%;
  }
}

@media screen and (max-width: 629px) {
  .buttons__container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 769px) {
  .header {
    top: 0;
    bottom: initial;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 0;
  }
}
